
.titleImg {
    text-align: center;
}

header {
    color: #f59f01;
    
    .nav{
        --bs-nav-link-color:#f59f01;
    }
    .linhaHeader {
        text-align: left;
        width: 90%;
    }
}
.imgHeader {
    max-width: 843px;
    width: 100%;
}
